// add customs styles and general overrides here
// due to the cascading nature of css, if you try to override theme css variables in this file, those changes will not apply. Instead, override css variables in the `override.sass` file
// we recommend not editing this file directly. Instead, create an `assets/sass/_custom.sass` file at the root level of your site.
// if you edit this file directly, you will have to resolve git conflicts when and if you decide to pull changes we make on the theme

@keyframes heartbeat
    0%,100%
        transform: scale(1)

    10%,30%
        transform: scale(0.9)

    20%,40%,50%,60%,70%,80%
        transform: scale(1.1)
.heart-icon
    width: 1.05em
    height: 1em
    margin: 0 0.25em 0.3em
    animation: heartbeat 1.33s ease-in-out infinite
.logo
    transition: 0.4s ease
    &:hover
        transform: rotate(360deg) scale(1.5)


.article__list
  background-color: #f0f0f0
  padding-top: 10px
  padding-buttom: 10px
  padding-left: 15px
  padding-right: 15px
  margin-bottom: 15px
  transition: all 0.4s

.article__list:hover
  background-color: gold
  transform: translate(0,-4px)

.flex-column
  transition: all 0.4s

.flex-column:hover
  background-color: gold
  transform: translate(0,-4px)

#friend-link ul 
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none



.friend-link li a
  background: var(--code-bg) !important
  // color: DeepPink !important
  color: #ed9d13 !important
  font-family: Monaco, monospace
  padding: 4px
  margin: 2px
  margin-right: 2px
  border-radius: 5px

.friend-link li
  border-radius: 5px
  background-color: #D4D4D4
  padding: 4px !important
  margin: 4px

.last_mod
  text-align: right
  color: gray
  text-shadow: 2px 2px 8px #FF0000
  font-size: smaller

.copyright
  border-top: 4px solid #000;
  margin-top: 1rem

.sidebar_item h2
  margin-left: 0
  margin-right: 0
  margin-top: 0.1rem
  margin-bottom: 0.4rem

.sidebar_item ul
  list-style-type: none
  padding-left: 0

.sidebar_item li
  font-size: 1rem 

.sidebar_item a:visited
  color:  #666

ins 
	&.adsbygoogle[data-ad-status="unfilled"] 
		display: none !important 